<div class="container">
	<h2>Create a new case :)</h2>
</div>


<div class= "container">

	<%= form_for Case.new do |form| %>

		<!-- Serial number would follow the case_id with case_type, this would be done in controller -->
		
		<!-- User automatically get registered -->
		<!-- User selects from the possible case types, which would be automatically linked to all its unique tasks -->
		<!--  -->


		<div class="form-group">
			<label for="serial_number">Serial Number*</label>
			<%= form.text_field :serial_number, class: 'form-control', placeholder: 'Serial Number' %>
		</div>

		<div class="form-group">	  
			<label for="case_type">Select list (select one):</label>
			<%= form.select :case_type, options_for_select([['Crowns','1'], ['Retainers','2'],['Boobies','3'],['Babies','4']]) %>
		</div>

		<div class="submit-field">
			<%= form.submit class:"btn btn-primary" %>
		</div>
		
	<%end%>

</div>
