<!-- After User Log-in, User will be directed to User show page which would be the Dashboard -->

<div class="container">
	<h2>Welcome <%=@user.first_name%></h2>
</div>


<div class= "container thin-border-box top-margin div-width">
	<table style= "width:100%">
		<tr>
			<td><strong>Full Name:</strong></td>
			<td><%=@user.first_name%> <%=@user.last_name%></td>
		</tr>
		<tr>
			<td><strong>Email:</td>
			<td><%=@user.email%></td>
		</tr>
	</table>
</div>

